@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #29335c;
  --sec-color: #5767aa;
  --deep-red: #db2b39;
  --text-color: #eee;
  --header-height: 3rem;
  --nav-width: 68px;
  --first-color: #2a287e;
  --first-color-alt: #67575c;
  --white-color: #f0c6de;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* ============= for side bar ================ */
/* .App {
  display: flex;
}
.App > div {
  background-color: red;
  margin-top: 60px;
} */

/* =============================================== */

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
}

.openModalBtn {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 6px;
  background-color: cornflowerblue;
  color: white;
  cursor: pointer;
}